body{
  background: url("/assets/bg.jpg") center fixed;
  background-size: cover;
  #header{
    background: url("/assets/logo.svg") center fixed;
  }
}



#wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  .innerWrapper{
    img{
      width: 50%;
      height: auto;
    }
  }
}



#redditTitle{
  background-color: red;
  align-items: center;
}

#imageDiv{
  img {
   width: 50%;
   height: auto;
  }
}






#navigation{
  text-align: center;
  background-color: blue;
  font-size: 35px;
  color: red;
  font-family: 'Oswald', sans-serif;
  .button{
    display: inline-block;
  }
}

.feedDiv {
    background-color: white;
    margin: 25px;
    display: block;
    width: 450px;
    padding: 15px;

      .titleDiv{
        display: inline-block;
        overflow: hidden;
        overflow-wrap: break-word;
        line-height: 1.4;
        max-height: 2.8;
        text-align: justify;
      }

      a{
        font-family: 'Oswald', sans-serif;
        color: red;
        text-decoration: none;
        font-size: 35px;

      }

      h2{
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        color: orange;
      }

      .photoDiv{
        height: 250px;
        width: 445px;
        background-size: cover;
        background-position: center;

      }
}