body{
  background-color: orange;
  max-width: 500px
}

.wrapper{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: black
}



#redditTitle{
  background-color: red;
  align-items: center;
}

#redditImages{
img {
  width: 50%;
  height: auto;
}
}